body {
    font-family: font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 27px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.orange-color {
    color: orangered;
}

.flexible-container {
    display: flex;
    margin-bottom: 150;
}

.half-width {
    width: 180%;
    padding: 5%;
}

.half-width img {
    width: 100%
}

.primary {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}


.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.Experiences-Area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experiance-item {
    width: 40%;
    box-shadow: 10px 10px 50px gray;
    margin: 10%;
    padding-left: 10px;
    border-radius: 6px;

}

#Full-Stack-Web-Developer {
    border-left: 7px solid tomato;
}

#Baby-Web-Developer {
    border-left: 7px solid blue;
}

footer {
    text-align: center;
}